<title>Main Stage</title>

<div *ngIf="whatGame.game === '4familygame'">
    <div class="flex-container">
        <div class="flex-a-team">
            <div>TEAM A</div>
            <span *ngFor="let incorrect of teamAWrongAnswers"><img src="assets/xmark.png" width="100px"
                    height="100px"></span>
        </div>
        <div class="flex-b-team">
            <div>TEAM B</div>
            <span *ngFor="let incorrect of teamBWrongAnswers"><img src="assets/xmark.png" width="100px"
                    height="100px"></span>
        </div>
    </div>
    <div class="container" *ngIf="question">
        <div *ngFor="let choices of question.choices; index as i;" class="flip-container">
            <div class="card" [@flipState]="flipStates[i]">
                <div class="card-face card-face-front">
                    <div class="number-button">
                        <span>{{ i+1 }}</span>
                    </div>
                </div>
                <div class="card-face card-face-back">
                    <div class="button-container">
                        <span class="text-left">{{ choices.answer }}</span>
                        <span class="text-right">{{ choices.point }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="question">
        <div class="card">
            <div class="card-face card-face-front">
                <div class="number-button">
                    <h1>{{ question.question}}</h1>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="displayOverlayWrongAnswer" class="overlay">
        <img src="assets/xmark.png" width="100%" height="100%">.
    </div>

    <div *ngIf="isOpenQRcode" class="overlay-qrcode">
        <img src="assets/qrcode.png" width="100%" height="100%">.
    </div>

    <div *ngIf="displayOverlayStartWinner" class="overlay">
        <h1 style="font-size: 200px;">{{ teamWinner }}</h1>
    </div>

</div>

<div *ngIf="whatGame.game === 'jigsaw'" class="puzzle-board">
    <img src="{{whatGame.image}}" alt="Mountain" style="width: 100%; height: 100%;" />
    <div *ngFor="let card of cards" (click)="revealCard(card)" [ngClass]="{'cover': !card.revealed}"
        [ngStyle]="card.style">
        <span *ngIf="!card.revealed" class="number">{{ card.number }}</span>
    </div>
</div>

<div class="row mt-3" *ngIf="whatGame.game === 'ramdonNumber'">
    <h1>Random Game</h1>
   
    <div class="col-md-12 mt-3">
        <div class="d-grid gap-2 random-number-item">
            <h2 style="color: purple;">37 : ปีที่พี่โนเข้าทำงาน กลต
            </h2>
         </div>
    </div>
    <div class="col-md-12 mt-3">
        <div class="d-grid gap-2 random-number-item">
            <h2 style="color: blue;">63 : รางวัลรัฐบาลดิจิทัล ประจำปี 2563 รับรางวัล “ผู้นำองค์กรดิจิทัลดีเด่น 2020” จากแอพ SEC Check First และ SEC Bond Check
            </h2>
        </div>
    </div>
</div>

<div class="countdown-timer" class="overlay-timer" *ngIf="isShowTimer">
    <div class="timer">{{ timeLeft }}</div>
</div>

<div  *ngIf="whatGame.game === 'randomGame'">
    <h1>สุ่มผู้โชคดี</h1>
    <div class="random-container" >
    
        <div  class="flex-item" *ngIf="isShowRandom" >
            <div class="item" *ngFor="let image of images;let i = index" >
                    <img [src]="image.src" width="700px" height="400px" alt="random-game">
            </div> 
        </div>
        <div  class="flex-item" *ngIf="isShowRandom1" >
            <div class="item" *ngFor="let image of images1;let i = index" >
                    <img [src]="image.src" width="700px" height="400px" alt="random-game">
            </div> 
        </div>
        <div  class="flex-item" *ngIf="isShowRandom2" >
            <div class="item" *ngFor="let image of images2;let i = index" >
                    <img [src]="image.src" width="700px" height="400px" alt="random-game">
            </div> 
        </div>    
        <div class="flex-center " *ngIf="isShowRandom || isShowRandom1 || isShowRandom2">
            <h1>คนที่ได้รับเลือก</h1>
            
        </div>    
    </div>    
</div>

<div *ngIf="isOpenWinnerModal" class="overlay-2">
    <h1 style="font-size: 200px;">🎉{{ winnerName }}🎉</h1>
</div>

