<title>Main Stage</title>
<div>
    Main Stage
</div>
<div>
    Team A = {{ scoreTeamA }} : Team B = {{ scoreTeamB }}
</div>
<div>
    Team A <span>X</span><span>X</span><span>X</span>
</div>
<div>
    Team B <span>X</span><span>X</span><span>X</span>
</div>
<div *ngIf="question">
    <div>
        <h1>{{ question.question }}</h1>
    </div>
    <div *ngFor="let choice of question.choices; index as i;">
        {{ !questionHiddens[i] ? '-' : choice.answer + ' ' + choice.point}}
    </div>
</div>

<div *ngIf="teamWinner === 'Team A' || teamWinner === 'Team B'">
    <h1>
        {{ teamWinner }}
    </h1>
</div>

<div class="number-button">
    <span>1</span>
</div>

<div class="button-container">
    <span class="text-left">ภาษา</span>
    <span class="text-right">40</span>
</div>

<div class="flip-container" (click)="toggleFlip()">
    <div class="card" [@flipState]="flip">
      <div class="card-face card-face-front">
        <div class="number-button">
          <span>1</span>
        </div>
      </div>
      <div class="card-face card-face-back">
        <div class="button-container">
          <span class="text-left">ภาษา</span>
          <span class="text-right">40</span>
        </div>
      </div>
    </div>
  </div>
  


