<title>Answer Game</title>
<div class="container">
    <div class="row mt-5">
        <div class="col-md-12">
            <label for="inputName" class="form-label">เลือกชื่อของคุณก่อนเล่นเกมส์</label>
            <ng-select [items]="nameList" bindLabel="name" bindValue="name" placeholder="เลือกชื่อของคุณ"
                [(ngModel)]="senderName">
            </ng-select>
        </div>
    </div>

    <div *ngIf="quiz; else nonQuiz">
        <div *ngIf="quiz.quizNo !== 7 && quiz.isOpen">
            <div class="row mt-3">
                <div class="col-md-12">
                    <h1 class="text-danger text-center">คำถามข้อ {{ quiz.quizNo }}</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <h1 class="text-danger text-center">!!! มองโจทก์คำถามบนเวที !!!</h1>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="mb-3">
                        <label for="inputAnswer" class="form-label">พิมพ์คำตอบลงในช่อง</label>
                        <input type="text" class="form-control" id="inputAnswer" placeholder="เช่น แขน">
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <div class="d-grid gap-2">
                        <button type="button" class="btn btn-primary" (click)="sendAnswer()">กดเพื่อส่งคำตอบ</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3" *ngIf="quiz.quizNo == 7 && quiz.isOpen">
            <div class="col-md-12">
                <h1 class="text-danger text-center">!!! นี่คือเลขที่มีความหมายกับพี่อโนทัยเป็นอย่างมาก มาเดาใจพี่โนกัน
                    !!!</h1>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">1</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">2</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">3</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">4</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">5</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">6</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">7</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">8</button></div>
            </div>
            <div class="col-md-12 mt-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">9</button></div>
            </div>
            <div class="col-md-12 mt-3 mb-3">
                <div class="d-grid gap-2"><button class="btn btn-success"
                        (click)="sendAnswerNumberAnothai(1)">10</button></div>
            </div>
        </div>
    </div>

    <ng-template #nonQuiz>
        <div class="row mt-5">
            <div class="col-md-12 text-center">
                <h1>รอคำถามจากพิธีกร</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-12">
                <div style="width:100%;height:0;padding-bottom:67%;position:relative;"><iframe
                        src="https://giphy.com/embed/pKoLm8ZOPgzbq" width="100%" height="100%" style="position:absolute"
                        frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
            </div>
        </div>
    </ng-template>
</div>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">