<title>Answer Game</title>
<div *ngIf="quiz; else nonQuiz">
    <div *ngIf="quiz.quizNo !== 7 && quiz.isOpen">
        <select name="cars" id="cars" [(ngModel)]="senderName">
            <option *ngFor="let name of nameList" value="{{name}}">{{name}}</option>
        </select>
        <br><br>
        <input type="text" [(ngModel)]="answer">
        <button (click)="sendAnswer()">ส่งคำตอบ</button>
    </div>
    <div *ngIf="quiz.quizNo == 7 && quiz.isOpen">
        <button (click)="sendAnswerNumberAnothai(1)">1</button>
        <button (click)="sendAnswerNumberAnothai(25)">25</button>
        <button (click)="sendAnswerNumberAnothai(31)">31</button>
        <button (click)="sendAnswerNumberAnothai(49)">49</button>
        <button (click)="sendAnswerNumberAnothai(12)">12</button>
        <button (click)="sendAnswerNumberAnothai(54)">54</button>
        <button (click)="sendAnswerNumberAnothai(34)">34</button>
        <button (click)="sendAnswerNumberAnothai(90)">90</button>
        <button (click)="sendAnswerNumberAnothai(32)">32</button>
        <button (click)="sendAnswerNumberAnothai(33)">33</button>
        <button (click)="sendAnswerNumberAnothai(13)">13</button>
        <button (click)="sendAnswerNumberAnothai(50)">50</button>
        <button (click)="sendAnswerNumberAnothai(23)">23</button>
        <button (click)="sendAnswerNumberAnothai(35)">35</button>
    </div>
</div>

<ng-template #nonQuiz>
    <h1>รอคำถามจากพิธีกร</h1>
</ng-template>