<div *ngIf="quiz">
    <div *ngIf="quiz.quizNo === 1 && quiz.isOpen">
        สามารถตอบคำถามข้อ 1 ได้
    </div>
    <div *ngIf="quiz.quizNo === 2 && quiz.isOpen">
        สามารถตอบคำถามข้อ 2 ได้
    </div>
    <div *ngIf="quiz.quizNo === 3 && quiz.isOpen">
        สามารถตอบคำถามข้อ 3 ได้
    </div>
    <div *ngIf="quiz.quizNo === 4 && quiz.isOpen">
        สามารถตอบคำถามข้อ 4 ได้
    </div>
    <div *ngIf="quiz.quizNo === 5 && quiz.isOpen">
        สามารถตอบคำถามข้อ 5 ได้
    </div>
    <div *ngIf="quiz.quizNo === 6 && quiz.isOpen">
        สามารถตอบคำถามข้อ 6 ได้
    </div>
    <div *ngIf="quiz.quizNo === 7 && quiz.isOpen">
        สามารถตอบคำถามข้อ 6 ได้
    </div>
</div>