<div class="flex-container" >
    <div  class="flex-item" *ngIf="isShowRandom" >
        <div class="item" *ngFor="let image of images;let i = index" >
                <img [src]="image.src" width="700px" height="400px">
        </div>
    </div>
    <div  class="flex-item" *ngIf="isShowRandom1" >
        <div class="item" *ngFor="let image of images1;let i = index" >
                <img [src]="image.src" width="700px" height="400px">
        </div>
    </div>
    <div  class="flex-item" *ngIf="isShowRandom2" >
        <div class="item" *ngFor="let image of images2;let i = index" >
                <img [src]="image.src" width="700px" height="400px">
        </div>
    </div>
</div>

<div id="text" *ngIf="isShowRandom || isShowRandom1 || isShowRandom2">ผู้ที่ได้รับเลือก</div>

