<title>Admin</title>
<button (click)="sendDisplay(1)">ข้อ 1</button>
<button>ข้อ 2</button>
<button>ข้อ 3</button>
<button>ข้อ 4</button>
<button>ข้อ 5</button>
<button>ข้อ 6</button>
<button>ข้อ 7</button>
<button (click)="sendDisplay(0)">RESET</button>
<button (click)="resetPlayer()">Reset Player</button>
<button (click)="incorrectData()">ผิดจ้าาาาาา</button>
<div>
    Team A: 
    <input type="text" [(ngModel)]="scoreTeamA" placeholder="Score Team A">
</div>
<div>
    Team B: 
    <input type="text" [(ngModel)]="scoreTeamB" placeholder="Score Team B">
</div>
<div>
    <button (click)="sendPoint()">ส่งคะแนน</button>
</div>

<div *ngIf="question">
    <div>
        <h1>{{ question.question }}</h1>
    </div>
    <div *ngFor="let q of question.choices; index as i;">
        <div>
            {{ q.answer }}
            <button (click)="sendOpenAnswer(i)">เปิดป้าย</button>
        </div>
    </div>
</div>